﻿@{
    ViewBag.Title = "Home Page";
}

<body>
    <!-- Start: HEADER -->
    <header>
        <!-- Start: Navigation wrapper -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="index.html" class="brand brand-bootbus">Elmedin Mashkulli B140910074</a>
                    <!-- Below button used for responsive navigation -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Start: Primary navigation -->
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products and Services<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header">PRODUCTS</li>
                                    <li><a href="product.html">Product1</a></li>
                                    <li><a href="product.html">Product2</a></li>
                                    <li><a href="product.html">Product3</a></li>
                                    <li><a href="all_products.html">All products</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">SERVICES</li>
                                    <li><a href="service.html">Service1</a></li>
                                    <li><a href="service.html">Service2</a></li>
                                    <li><a href="service.html">Service3</a></li>
                                    <li><a href="all_services.html">All services</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="our_works.html">Our works</a></li>
                                    <li><a href="patnerships.html">Parnerships</a></li>
                                    <li><a href="leadership.html">Leadership</a></li>
                                    <li><a href="news.html">News</a></li>
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                </ul>
                            </li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact_us.html">Contact us</a></li>
                            <li><a href="signup.html">Sign up</a></li>
                            <li><a href="signin.html">Sign in</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Navigation wrapper -->
    </header>
    <!-- End: HEADER -->
    <!-- Start: MAIN CONTENT -->
    <div class="content">
        <!-- Start: slider -->
        <div class="slider">
            <div class="container-fluid">
                <div id="heroSlider" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item">
                            <div class="hero-unit">
                                <div class="row-fluid">
                                    <div class="span7 marketting-info">
                                        <h1>Elmedin Mashkulli b140910074.</h1>
                                        <p>
                                            Elmedin Mashkulli
                                            B140910074
                                            Muhendislik Sitesi Projesi
                                        </p>
                                        <h3>
                                            <a href="product.html" class="btn">Learn more</a>
                                        </h3>
                                    </div>
                                    <div class="span5">
                                        <img src="/Content/images/placeholder.jpg" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="hero-unit">
                                <div class="row-fluid">
                                    <div class="span7 marketting-info">
                                        <h2>Elmedin Mashkulli B140910074</h2>
                                        <p>
                                            Elmedin Mashkulli
                                            B140910074
                                            Muhendislik Sitesi Projesi
                                        </p>
                                        <h3>
                                            <a href="service.html" class="btn">Learn more</a>
                                        </h3>
                                    </div>
                                    <div class="span5">
                                        <img src="/Content/images/placeholder.jpg" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item active">
                            <div class="hero-unit">
                                <div class="row-fluid">
                                    <div class="span7 marketting-info">
                                        <h1>b140910074 Elmedin Mashkulli</h1>
                                        <p>
                                            Get excited about our products.We build awesome products in mobile.
                                            We build awesome products in mobile.We build awesome products in mobile.
                                        </p>
                                        <h3>
                                            <a href="#" class="btn btn-primary">Buy now</a>
                                            <a href="product.html" class="btn">Learn more</a>
                                        </h3>
                                    </div>
                                    <div class="span5">
                                        <img src="/Content/images/placeholder.jpg" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="hero-unit">
                                <div class="row-fluid">
                                    <div class="span7 marketting-info">
                                        <h1>Elmedin Mashkulli B140910074h1>
                                        <p>
                                            Get excited about our products.We build awesome products in mobile.
                                            We build awesome products in mobile.We build awesome products in mobile.
                                        </p>
                                        <h3>
                                            <a href="#" class="btn btn-primary">Buy now</a>
                                            <a href="product.html" class="btn">Learn more</a>
                                        </h3>
                                    </div>
                                    <div class="span5">
                                        <img src="/Content/images/placeholder.jpg" class="thumbnail">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
                </div>
            </div>
        </div>
        <!-- End: slider -->
        <!-- Start: PRODUCT LIST -->
        <div class="container">
            <div class="page-header">
                <h2>Our products</h2>
            </div>
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/Content/images/placeholder-360x200.jpg" alt="product name">
                            <div class="caption">
                                <h3>Product name</h3>
                                <p>
                                    Few attractive words about your product.Few attractive words about your product.
                                    Few attractive words about your product.Few attractive words about your product.
                                </p>
                            </div>
                            <div class="widget-footer">
                                <p>
                                    <a href="#" class="btn btn-primary">Buy now</a>&nbsp;
                                    <a href="product.html" class="btn">Read more</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/Content/images/placeholder-360x200.jpg" alt="product name">
                            <div class="caption">
                                <h3>Product name</h3>
                                <p>
                                    Few attractive words about your product.Few attractive words about your product.
                                    Few attractive words about your product.Few attractive words about your product.
                                </p>
                            </div>
                            <div class="widget-footer">
                                <p>
                                    <a href="#" class="btn btn-primary">Buy now</a>&nbsp;
                                    <a href="product.html" class="btn">Read more</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/Content/images/placeholder-360x200.jpg" alt="product name">
                            <div class="caption">
                                <h3>Product name</h3>
                                <p>
                                    Few attractive words about your product.Few attractive words about your product.
                                    Few attractive words about your product.Few attractive words about your product.
                                </p>
                            </div>
                            <div class="widget-footer">
                                <p>
                                    <a href="#" class="btn btn-primary">Buy now</a>&nbsp;
                                    <a href="product.html" class="btn">Read more</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="page-header">
                <h2>Our Services</h2>
            </div>
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/Content/images/placeholder-360x200.jpg" alt="product name">
                            <div class="caption">
                                <h3>Service title</h3>
                                <p>
                                    Few attractive words about your service.Few attractive words about your service.
                                    Few attractive words about your service.Few attractive words about your service.
                                </p>
                            </div>
                            <div class="widget-footer">
                                <p>
                                    <a href="#" class="btn btn-primary">Try for free</a>&nbsp;
                                    <a href="product.html" class="btn">Read more</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/Content/images/placeholder-360x200.jpg" alt="product name">
                            <div class="caption">
                                <h3>Service title</h3>
                                <p>
                                    Few attractive words about your service.Few attractive words about your service.
                                    Few attractive words about your service.Few attractive words about your service.
                                </p>
                            </div>
                            <div class="widget-footer">
                                <p>
                                    <a href="#" class="btn btn-primary">Try for free</a>&nbsp;
                                    <a href="product.html" class="btn">Read more</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/Content/images/placeholder-360x200.jpg" alt="product name">
                            <div class="caption">
                                <h3>Service title</h3>
                                <p>
                                    Few attractive words about your service.Few attractive words about your service.
                                    Few attractive words about your service.Few attractive words about your service.
                                </p>
                            </div>
                            <div class="widget-footer">
                                <p>
                                    <a href="#" class="btn btn-primary">Try for free</a>&nbsp;
                                    <a href="product.html" class="btn">Read more</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End: PRODUCT LIST -->
    </div>
    <!-- End: MAIN CONTENT -->
    <!-- Start: FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="span2">
                    <h4><i class="icon-star icon-white"></i> Products</h4>
                    <nav>
                        <ul class="quick-links">
                            <li><a href="product.html">Product1</a></li>
                            <li><a href="product.html">Product2</a></li>
                            <li><a href="product.html">Product3</a></li>
                            <li><a href="all_products.html">All products</a></li>
                        </ul>
                    </nav>
                    <h4><i class="icon-cogs icon-white"></i> Services</h4>
                    <nav>
                        <ul class="quick-links">
                            <li><a href="service.html">Service1</a></li>
                            <li><a href="service.html">Service2</a></li>
                            <li><a href="service.html">Service3</a></li>
                            <li><a href="all_services.html">All services</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="span2">
                    <h4><i class="icon-beaker icon-white"></i> About</h4>
                    <nav>
                        <ul class="quick-links">
                            <li><a href="our_works.html">Our works</a></li>
                            <li><a href="patnerships.html">Patnerships</a></li>
                            <li><a href="leadership.html">Leadership</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="events.html">Events</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <ul></ul>
                        </ul>
                    </nav>
                </div>
                <div class="span2">
                    <h4><i class="icon-thumbs-up icon-white"></i> Support</h4>
                    <nav>
                        <ul class="quick-links">
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact_us.html">Contact us</a></li>
                        </ul>
                    </nav>
                    <h4><i class="icon-legal icon-white"></i> Legal</h4>
                    <nav>
                        <ul class="quick-links">
                            <li><a href="#">License</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="span3">
                    <h4>Get in touch</h4>
                    <div class="social-icons-row">
                        <a href="#"><i class="icon-twitter"></i></a>
                        <a href="#"><i class="icon-facebook"></i></a>
                        <a href="#"><i class="icon-linkedin"></i></a>
                    </div>
                    <div class="social-icons-row">
                        <a href="#"><i class="icon-google-plus"></i></a>
                        <a href="#"><i class="icon-github"></i></a>
                        <a href="mailto:soundar.rathinasamy@gmail.com"><i class="icon-envelope"></i></a>
                    </div>
                    <div class="social-icons-row">
                        <i class="icon-phone icon-large phone-number"></i> +919750227877
                    </div>
                </div>
                <div class="span3">
                    <h4>Get updated by email</h4>
                    <form>
                        <input type="text" name="email" placeholder="Email address">
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
        <hr class="footer-divider">
        <div class="container">
            <p>
                © 2012-3000 Bootbusiness, Inc. All Rights Reserved.
            </p>
        </div>
    </footer>
    <!-- End: FOOTER -->
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/boot-business.js"></script>


</body>